@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prata&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import "tailwindcss";



/* FONTS */

/* Custom Fonts */
@font-face {
  font-family: "poppins";
  src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "clash01";
  src: url(/fonts/CLASHDISPLAY-MEDIUM.OTF);
}

.clash-display {
  font-family: "clash01", sans-serif !important;
}

/* Google Fonts */
* {
  font-family: "poppins", "Plus Jakarta Sans", sans-serif;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  /* font-style: normal; */
}

.cookie-font {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@keyframes marquee {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);
  }
}

.animate-marquee{
  display: flex;
  animation: marquee 40s linear infinite;
  animation-play-state: var(--marquee-play-state, running);
}

@utility centered-row {
  @apply flex items-center;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer components{
  .transition2 {
    @apply transition-all duration-300 cursor-pointer ease-out;
  }
  .glass {
    @apply bg-[#0A0A0A]/80  border border-white/10;
  }
   .grad1 {
    @apply text-transparent bg-gradient-to-r bg-clip-text from-gray-400 to-indigo-600;
  }
}

